@charset "UTF-8";

.slideWrap {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/bg.jpg') no-repeat;
	background-size: 1024px 768px;
}

/** 承認番号 */
.ap_num {
  position: absolute;
  bottom: 20px;
  left:50px;
  font-size: 12px;
  font-weight: bold;
  color: #222;
}

.pop_up_area {
  width: 100%;
  height: 768px;
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transform: scale(0) translate3d(0,0,0);
  -webkit-transition-duration: 400ms;
}

#pop_up_1 {
  background-size: 60px 60px, 100%;
  background-color: rgba(0,0,0,.6);
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

#pop_up_2 {
  background: rgba(0,0,0,0.5) url(../images/pop2.png) no-repeat center center;
  background-size: 60px 60px, 100%;
  background-color: rgba(0,0,0,.6);

}
.pop_up_area.on {
  -webkit-transform: scale(1) translate3d(0,0,0);
  -webkit-transition-duration: 400ms;
}

#pop_note{
  position: relative;
}

.close_btn_pop {
  background: url(../images/btn-close.jpg) no-repeat top right;
  background-size: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  z-index: 20;
}

.pop_scroll{
  overflow: hidden;
  background: #FFF;
  width: 100%;
  height: 690px;
  position: relative;
  box-sizing: border-box;
  padding: 0 40px 0 0;
}

#pop_detail img{
  width: 100%;
}

.pop_tab{
  position: absolute;
  right: 60px;
  top: 35px;
}

.pop_tab li{
  display: inline-block;
  width: 195px;
  height: 36px;
  background-size: contain;
}

.pop_tab li:first-child{
  background: url(../images/tab1.png) no-repeat;
  background-size: contain;
}

.pop_tab li:first-child.on{
  background: url(../images/tab1_on.png) no-repeat;
  background-size: contain;
  width: 195px;
  height: 36px;
}

.pop_tab li:nth-child(2){
  background: url(../images/tab2.png) no-repeat;
  background-size: contain;
}

.pop_tab li:nth-child(2).on{
  background: url(../images/tab2_on.png) no-repeat;
  background-size: contain;
  width: 195px;
  height: 36px;
}


.tab{
  display: none;
  width: 100%;
  position: relative;
}
.tab.on{
  display: contents;
}




/* scrollbar Custom --------------- */

.iScrollVerticalScrollbar {
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}

.iScrollVerticalScrollbar .iScrollIndicator {
  width: 100%;
}

/* styled scrollbars */
.iScrollVerticalScrollbar {
  background: #355273;
  width: 16px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  margin: 50px 10px 10px 0px;
}

.iScrollIndicator {
  position: absolute;
  background: #FFF;
  border: 1px solid #355273;
  box-sizing: border-box;
}

